:root {
    --color__primary: #ea8496;
    --color__secondary: #f3b9c3;
    --color__accent: #fdf2f4;
    ---color__text: #2d2d2d;
    --color__polygon: #f9dce1;
}

*,
&::before,
&::after {
    box-sizing: border-box;
}

b,
strong {
    font-weight: 700;
}

body, ul, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a,svg,path{
    transition: all 0.4s ease-in-out;
}


li {
    list-style: none;
}

img {
    /* max-width: 100%; */
    /* height: auto; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

*,
*:focus-visible {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    /* font-family: $title-family; */
    font-weight: bold;
    margin: 0;
}

h2{
    font-size: 40px;
    line-height: 1.2;
}

/* h1 {
    font-size: 34px;
    line-height: 1.47;
    font-weight: 700;
    color: #fff;

    @media(min-width:768px) {
        font-size: 46px;    
        line-height: 1.30;
    }
}

h2 {
    font-size: 28px;
    line-height: 1.37;
    color: $secondary;
    font-weight: 700;

    @media(min-width:768px) {
        font-size: 35px;    
    }
}

h3 {
    line-height: 1.22;
    font-size: 18px;
    color: $secondary;
    font-weight: 500;

    @media(min-width:768px) {
        line-height: 1.24;
        font-size: 21px;
    }
}

p {
    font-size: 14px;
    line-height: 1.64;
    font-weight: 400;
    color: $secondary;
    margin-bottom: 22px;
    margin-top: 0;

    @media(min-width:768px) {
        font-size: 16px;
        line-height: 1.75;
    }

    &:last-child {
        margin-bottom: 0;
    }
} */

.container,
[class*="__container"] {
    /* max-width: $container; */
    max-width: 1100px;
    width: 100%;
    margin: 0 auto !important;
    padding: 0 20px;
    /* @media(min-width:1566px) {
        padding: 0;
    } */
}

nav{
    padding: 30px 0;
}
.navigation__container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.navigation__logo-wrapper{
    max-width: 65px;
}
.ham-menu-icon{
scale: 1.5;
margin-top: -15px;
cursor: pointer;
}
.line{
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 0;
}
.line-mid::before{
    margin-top: 5px;
}
.line-bottom::before{
    margin-top: 10px;
}
.navigation__menu{
    position: absolute;
    height: 100vh;
    top: 100px;
    left: 100%;
}
.navigation__item a{
    color: #000;
}
.navigation__item a:hover{
    color: var(--color__primary);
}

.header{
    margin-block: 70px 35px;
    padding-block: 25px 80px;
}
.header__container{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
.header__container::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--color__secondary);
    bottom: -50px;
    right: 50px;
    border-radius: 50%;
}   
.header__image{
    width: 625px;
    height: 625px;
    justify-self: center;
    position: relative;
}
.header__image::before{
    position: absolute;
    background-color: var(--color__polygon);
    width: 974px;
    height: 877px;
    content: '';
    z-index: -1;
    top: -20px;
    left: -128px;
    border-radius: 50%;
}
.header__image img{
    border-radius: 50%;
}

.card-us .card__link{
    color: #000;
    padding: 70px 36px;
    display: flex;
    flex-direction: column;
}
.card-us{
    justify-self: start;
    width: 100%;
    box-shadow: -5px -5px 14px 0 rgba(255, 255, 255, 0.2), 4px 11px 30px 0 rgba(0, 0, 0, 0.14);
    max-width: 530px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: -200px;
    position: relative;
    z-index: 11;
}

.eyebrow{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
}

.card-us .card__title{
    margin-block: 34px;
}

.button{
    margin-top: 15px;
    border: 1px solid #efa3b0;
    padding: 15px 30px;
    border-radius: 28px;
    background: none;
    max-width: max-content;
    width: 100% ;
    text-transform: uppercase;
}
.gallery{
    display: grid;
    padding-block: 25px 50px;
    grid-template-columns: repeat(3,1fr);
}
.diagonal{
    padding-block: 50px;
}
.diagonal__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.diagonal__gallery img{
    border-radius: 50%;
    width: 315px;
    height: 315px;
}

.diagonal__gallery .image-1{
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: start;
}
.diagonal__gallery .image-2{
    grid-column: 2;
    grid-row: 2;
}

.diagonal__gallery .image-3{
    grid-column: 3;
    grid-row: 3;
    margin-top: -100px;
}

.card_gallery{
    max-width: 315px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 3;
}
.card_gallery h1{
    font-size: 24px;
}
.card_gallery.--bottom{
    grid-row: 2/4;
    grid-column: 1;
    text-align: left;
    align-items: flex-start;
}
.contact__image{
    position: relative;
}
.contact__form{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 520px;
    background-color: #fff;
    border-radius: 10px;
    gap: 16px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.contact__form div{
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.contact__form div.form__footer{
    flex-direction: row;
    align-items: center;
}

.contact__form input, textarea{
    border-radius: 10px;
    background-color: var(--color__polygon);
    font-size: 17px;
    padding: 15px;
    color: #b4adaf;
}
.contact__form input{
    border: none;
    height: 50px;
}
.contact__form textarea{
    border: none;
    height: 106px;
    resize: none;
}

.input_checkbox{
    width: max-content;
}
.form__footer label, input{
   cursor: pointer;
}