*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #F6F4F1;
  --color-primary: #424241;
  --text-color: #909090;
  --color-secondary: #968864;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro";
  background-color: var(--background-color);
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a,
.button,
svg,
path {
  transition: all 0.5s ease-in-out;
}

h1{
    font-size: 72px;
    line-height: 1.33;
}
h2{
    font-size: 64px;
}
h3,p{
    font-size: 24px;
}
h2,h3{
    line-height: 1.5;
}
p{
    line-height: 1.66;
}
a,h5{
    font-size: 18px;
}
a{
    text-decoration: none;
    line-height: 1.5;
}
.nav-bar a, h5{
    line-height: 1.77;
}

p {
  color: var(--text-color);
}

.d-grid {
  display: grid;
}
.d-3-col {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.d-2-col {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.no-wrap {
  flex-wrap: nowrap;
}
.f-col {
  flex-direction: column;
}

.container,[class *=__container]{
    max-width: 1640px;
    margin: 0 auto !important;
    padding: 0 20px;
    width: 100%;
}




